.section {
    display: flex;
    flex-direction: column;
}

.mainText {
    margin-bottom: 20px;
    text-align: center;
}

.secondaryText {
    margin-bottom: 20px;
    text-align: center;
}

.sectionBook,
.sectionContacts {
    margin-left: auto;
    margin-right: auto;
}